/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

main{
    text-align: center;
}

ul {
    list-style: none;
  }
  
a {
    text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* logo and navigator */
.main-header, .main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    height: 6vh;
}

.logo {
	font-size: 1.2em;
    margin: 0;
}

.logo,
.main-nav a {
	padding: 10px 20px;
}

.menu {
    float: right;
    width: 30px;
    margin: 15px;
}


/* welcome message */
.welcome{
    font-size: 2rem;
    background-color: lightskyblue;
    padding: 60px;
    margin: 0;
}

/* container and boxes*/
.container{
    max-width: 1200px;
    margin: auto;
}

.columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.item {
    background-color: #76879a;
    height: 150px;
    padding: 20px;
    margin: 10px;
    font-size: 1rem;
    flex: 1 45%;  /*Arranging boxes*/
}

button {
    background-color: lightsteelblue;
    border: none;
    width: 120px;
    height: 50px;
    font-size: 100%;
  }

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 1200px) {
    .menu{
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 1199px){
    .menu{
        display: none;
    }
}

@media (min-width: 500px) and (max-width: 799px){
    .main-nav{
		display: none;
	}
}

@media (max-width: 499px) {
    .main-nav{
        display: none;
      }
    .columns{
        display: block;
    }
} 